:root {
  --poppins: "Source Sans Pro", sans-serif;
}
#faqStyle {
    padding: 100px 0;
}
#faqStyle .faq_head05 {
    color: #007FFF;
    font-family: var(--poppins);
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
#faqStyle .faq_head02 {
    color: #132F4C;
    font-family: var(--poppins);
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
#faqStyle p {
    font-family: var(--poppins);
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
}
#faqStyle .accordion-button::after {
  display: none;
}
#faqStyle .accordion-item {
    border: none !important;
}
#faqStyle .accordion-button:focus {
    outline: none;
    box-shadow: none;
}
#faqStyle .focusNone {
    font-family: var(--poppins);
    color: #132F4C;
    font-weight: 600;
    font-size: 20px;
}
#faqStyle .accordion-body {
    font-family: var(--poppins);
    font-size: 18px;
}

